In [10]:
import numpy as np
import pandas as pd
import os
import glob

In [6]:
# Reading the data: 
df = pd.read_csv(r'C:\Users\Acer\Documents\DSA4\ClassesNotebooks\DS4A_prg\cases\Cases_JupyterNote\case_1.2_student\datasets\D.csv')
df['Symbol'] = 'D'
df['Volume_Millions'] = df['Volume'] / 1000000.0
df['VolStat'] = (df['High'] - df['Low']) /df['Open']
df['Return'] = (df['Close'] /df['Open']) -1.0
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions,VolStat,Return
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,1.8064,0.018781,0.016201
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,2.2311,0.014858,-0.010471
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,2.5889,0.032286,-0.014714
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,3.2669,0.018505,-0.014425
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,2.6018,0.017674,0.003861

### Exercise 1:

Determine the 25th, 50th, and 75th percentile for the ```Open```, ```High```, ```Low```, and ```Close``` columns of ```df```.

In [8]:
df[['Open','High','Low','Close']].quantile([0.25,0.50,0.75])

           Open       High        Low      Close
0.25  70.220001  70.829998  69.685001  70.239998
0.50  73.180000  73.690002  72.550003  73.150002
0.75  76.560001  76.954998  75.959999  76.510002

In [68]:
## Concatenating all the data:
data_list = []
dir_path = 'C:/Users/Acer/Documents/DSA4/ClassesNotebooks/DS4A_prg/cases/Cases_JupyterNote/case_1.2_student/datasets/'
dir_files = os.listdir(dir_path)
# Looping over the files
for file in dir_files:
    # Ths is to create the symbol later
    letter = file.split(".")[0]
    # Reading the data
    print("Reading the " ,file , " file")
    data_file = pd.read_csv(dir_path + file)
    # After reading the data, we have to create the new variables:
    # Symbol
    print("Creating all necessary features")
    data_file['Symbol'] = letter
    # All other features:
    data_file['Volume_Millions'] = data_file['Volume'] / 1000000.0
    data_file['VolStat'] = (data_file['High'] - data_file['Low']) /data_file['Open']
    data_file['Return'] = (data_file['Close'] /data_file['Open']) -1.0
    print("Appending the data ")
    data_list.append(data_file)
    print("Done, moving to the next file")
    print("\n")
    print("==================================")
data_total = pd.concat(data_list,axis = 0)

Reading the  D.csv  file
Creating all necessary features
Appending the data
Done, moving to the next file


==================================
Reading the  DUK.csv  file
Creating all necessary features
Appending the data
Done, moving to the next file


==================================
Reading the  EXC.csv  file
Creating all necessary features
Appending the data
Done, moving to the next file


==================================
Reading the  NEE.csv  file
Creating all necessary features
Appending the data
Done, moving to the next file


==================================
Reading the  SO.csv  file
Creating all necessary features
Appending the data
Done, moving to the next file


==================================

In [28]:
data_total.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions,VolStat,Return
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,1.8064,0.018781,0.016201
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,2.2311,0.014858,-0.010471
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,2.5889,0.032286,-0.014714
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,3.2669,0.018505,-0.014425
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,2.6018,0.017674,0.003861

In [30]:
data_total.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions,VolStat,Return
1254,2019-07-22,55.400002,55.610001,54.869999,55.480000,55.480000,4623300,SO,4.6233,0.013357,0.001444
1255,2019-07-23,55.500000,55.619999,55.009998,55.419998,55.419998,3023300,SO,3.0233,0.010991,-0.001441
1256,2019-07-24,55.459999,55.669998,55.099998,55.639999,55.639999,3613900,SO,3.6139,0.010278,0.003246
1257,2019-07-25,55.540001,55.810001,55.250000,55.360001,55.360001,3280900,SO,3.2809,0.010083,-0.003241
1258,2019-07-26,55.340000,55.830002,55.200001,55.740002,55.740002,2288700,SO,2.2887,0.011384,0.007228

In [32]:
data_total.Symbol.unique()

array(['D', 'DUK', 'EXC', 'NEE', 'SO'], dtype=object)

### Exercise 2:

If we added the number of rows together from the five DataFrames, ```D_df```,```NEE_df```,```EXC_df```,```SO_df```, and ```DUK_df```, we'd arrive at the same number of rows as ```agg_df```: 6295 rows. If we instead used the ```!=``` operator in the five lines where we filter out each symbol, how many rows would we have if we sum all the rows in the five new DataFrames?

(a) 31475

(b) 12590

(c) 25180

(d) 6295

# Answer : 
(c)

In [36]:
symbols = data_total.Symbol.unique()
counter_rows = 0
for symbol in symbols:
    counter_rows  += len(data_total[data_total['Symbol'] != symbol])
print(counter_rows)

25180

### Exercise 3:

Write code to write a for loop to loop through each of the five symbols, extract only the rows corresponding to each symbol, and calculate and print the average ```VolStat``` value for each of the five symbols.

In [43]:
for symbol in symbols:
    avg_VolStat = data_total[data_total['Symbol'] == symbol]['VolStat'].mean()
    print("Symbol: {} , Avg VolStat: {}".format(symbol,round(avg_VolStat,3)))

Symbol: D , Avg VolStat: 0.015
Symbol: DUK , Avg VolStat: 0.015
Symbol: EXC , Avg VolStat: 0.018
Symbol: NEE , Avg VolStat: 0.015
Symbol: SO , Avg VolStat: 0.014

### Exercise 4:

What are some insights you can draw from the ```VolStat``` summary statistics in terms of volatility levels?

In [45]:
data_total.groupby("Symbol")['VolStat'].describe()

,count,mean,std,min,25%,50%,75%,max
Symbol,,,,,,,,
D,1259.0,0.014836,0.006548,0.003640,0.010246,0.013528,0.017920,0.062350
DUK,1259.0,0.014534,0.007047,0.003548,0.010075,0.012922,0.017653,0.117492
EXC,1259.0,0.017722,0.008129,0.005230,0.011868,0.015931,0.021752,0.093156
NEE,1259.0,0.014881,0.006544,0.004454,0.010309,0.013439,0.017700,0.048495
SO,1259.0,0.014065,0.006109,0.003960,0.009786,0.012858,0.016865,0.051847

From the basics summary statistics we can see that all tend to be very volatile .They can reach very low levels, but then increase their values 10 times during a day.

### Exercise 5:
Using ```agg_df``` and a for loop, write a script to determine the mean value of ```VolStat``` for each symbol by year.

In [75]:
# Extract year variable:
data_total['Date'] = pd.to_datetime(data_total['Date'])
data_total['Year'] = data_total.Date.dt.year
# Groupby year
for symbol in symbols:
    print("\n")
    print("   Symbol: ",symbol)
    year_group =data_total[data_total['Symbol'] == symbol][['Year','VolStat']].\
    groupby('Year',as_index = False).mean()
    print(" ================= ")
    print(year_group)

   Symbol:  D
 =================
   Year   VolStat
0  2014  0.016510
1  2015  0.015748
2  2016  0.015051
3  2017  0.011246
4  2018  0.016678
5  2019  0.014631


   Symbol:  DUK
 =================
   Year   VolStat
0  2014  0.014592
1  2015  0.016215
2  2016  0.015841
3  2017  0.010032
4  2018  0.016472
5  2019  0.013723


   Symbol:  EXC
 =================
   Year   VolStat
0  2014  0.020166
1  2015  0.021383
2  2016  0.019270
3  2017  0.013746
4  2018  0.017106
5  2019  0.014720


   Symbol:  NEE
 =================
   Year   VolStat
0  2014  0.015843
1  2015  0.016274
2  2016  0.015805
3  2017  0.011648
4  2018  0.016043
5  2019  0.013692


   Symbol:  SO
 =================
   Year   VolStat
0  2014  0.013988
1  2015  0.014625
2  2016  0.014233
3  2017  0.010955
4  2018  0.016859
5  2019  0.013395

In [76]:
# Now we want to group volatility into high or low.
# First we find a treshold  by symbols.
volstat_tresholds = data_total.groupby("Symbol").VolStat.quantile(0.5)
print("Quantile 0.5")
print(volstat_tresholds)

Quantile 0.5
Symbol
D      0.013528
DUK    0.012922
EXC    0.015931
NEE    0.013439
SO     0.012858
Name: VolStat, dtype: float64

In [77]:
label_list_data = []
for symbol in symbols:
    print("\n")
    print("Symbol: ", symbol)
    symbol_data = data_total[data_total['Symbol'] == symbol].copy()
    treshold_symbol = symbol_data.VolStat.quantile(0.5)
    print("Treshold of : ", round(treshold_symbol,4))
    symbol_data['VolLevel'] = np.where(symbol_data['VolStat'] < treshold_symbol,'LOW','HIGH')
    print("Appending to the total data....")
    label_list_data.append(symbol_data)
    print(" ======================================== ")
total_label_data = pd.concat(label_list_data,axis = 0)

Symbol:  D
Treshold of :  0.0135
Appending to the total data....
 ========================================


Symbol:  DUK
Treshold of :  0.0129
Appending to the total data....
 ========================================


Symbol:  EXC
Treshold of :  0.0159
Appending to the total data....
 ========================================


Symbol:  NEE
Treshold of :  0.0134
Appending to the total data....
 ========================================


Symbol:  SO
Treshold of :  0.0129
Appending to the total data....
 ========================================

In [80]:
total_label_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions,VolStat,Return,Year,VolLevel
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,1.8064,0.018781,0.016201,2014,HIGH
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,2.2311,0.014858,-0.010471,2014,HIGH
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,2.5889,0.032286,-0.014714,2014,HIGH
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,3.2669,0.018505,-0.014425,2014,HIGH
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,2.6018,0.017674,0.003861,2014,HIGH

### Exercise 7:

Write code to group time periods into Low, Medium, or High volatility regimes, where:

```
if VolStat > (75th percentile VolStat for given symbol):
    VolLevel = 'HIGH'
elif  VolStat > (25th percentile VolStat for given symbol):
    VolLevel = 'MEDIUM'
else:
    VolLevel = 'LOW'
```

Output a ```final_df``` DataFrame output grouped by Symbol, showing the mean Volume for each VolLevel category.

In [ ]:
data_total['Try_1'] = np.select(
[
    
    
]
)

In [94]:
label_list_data = []
for symbol in symbols:
    print("\n")
    print("Symbol: ", symbol)
    symbol_data = data_total[data_total['Symbol'] == symbol].copy()
    ## Tresholds
    treshold_symbol_1 = symbol_data.VolStat.quantile(0.25)
    treshold_symbol_2 = symbol_data.VolStat.quantile(0.75)
    max_symbol = symbol_data.VolStat.max()
    print("Quantile 0.25 : ", round(treshold_symbol_1,4))
    print("Quantile 0.75 : ", round(treshold_symbol_2,4))
    print("Max : ", round(max_symbol,4))
    
    
    # Feature Creation
    symbol_data['VolLevel'] = np.select(
        [
            symbol_data['VolStat'].between(0,treshold_symbol_1,inclusive = False),
            symbol_data['VolStat'].between(treshold_symbol_1,treshold_symbol_2,inclusive = True),
            symbol_data['VolStat'].between(treshold_symbol_2,max_symbol,inclusive = True)
        ],
        [
            'LOW',
            'MEDIUM',
            'HIGH'
        ]
    
    )
    print("Appending to the total data....")
    label_list_data.append(symbol_data)
    print(" ======================================== ")
final_labeled_data = pd.concat(label_list_data,axis = 0)

Symbol:  D
Quantile 0.25 :  0.0102
Quantile 0.75 :  0.0179
Max :  0.0623
Appending to the total data....
 ========================================


Symbol:  DUK
Quantile 0.25 :  0.0101
Quantile 0.75 :  0.0177
Max :  0.1175
Appending to the total data....
 ========================================


Symbol:  EXC
Quantile 0.25 :  0.0119
Quantile 0.75 :  0.0218
Max :  0.0932
Appending to the total data....
 ========================================


Symbol:  NEE
Quantile 0.25 :  0.0103
Quantile 0.75 :  0.0177
Max :  0.0485
Appending to the total data....
 ========================================


Symbol:  SO
Quantile 0.25 :  0.0098
Quantile 0.75 :  0.0169
Max :  0.0518
Appending to the total data....
 ========================================

In [96]:
final_labeled_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions,VolStat,Return,Year,VolLevel
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,1.8064,0.018781,0.016201,2014,HIGH
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,2.2311,0.014858,-0.010471,2014,MEDIUM
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,2.5889,0.032286,-0.014714,2014,HIGH
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,3.2669,0.018505,-0.014425,2014,HIGH
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,2.6018,0.017674,0.003861,2014,MEDIUM

In [106]:
final_labeled_data.groupby(['Symbol','VolLevel'])['Volume_Millions'].mean()

Symbol  VolLevel
D       HIGH        3.921797
        LOW         2.456831
        MEDIUM      2.986784
DUK     HIGH        4.169937
        LOW         2.603308
        MEDIUM      3.199854
EXC     HIGH        7.904227
        LOW         4.671271
        MEDIUM      5.835034
NEE     HIGH        2.653587
        LOW         1.608036
        MEDIUM      1.937998
SO      HIGH        6.781142
        LOW         4.111777
        MEDIUM      5.120373
Name: Volume_Millions, dtype: float64

### Exercise 8:

Write a script to find and print the month that has the highest average daily trading volume for each symbol. Also include the average volume value corresponding to that month. For example, symbol D has its highest average daily trading volume of 6.437 million in December 2018.

In [114]:
max_stat = data_total.VolStat.max()
max_row = data_total.loc[data_total['VolStat'] == max_stat]

In [115]:
data_total.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Symbol',
       'Volume_Millions', 'VolStat', 'Return', 'Year'],
      dtype='object')

In [128]:
for symbol in symbols:
    # Filter the dataframe with the symbol
    filter_symbol = data_total[data_total['Symbol'] == symbol].copy()
    # Grouping by dates
    symbol_data = filter_symbol.groupby('Date',as_index = False)['Volume_Millions'].mean()
    symbol_data['Month'] = symbol_data.Date.dt.month
    symbol_data['Year'] = symbol_data.Date.dt.year
    max_volstat_daily = symbol_data.Volume_Millions.max()
    print("Symbol: ", symbol)
    print(max_volstat_daily)
    # Finding the row with the maximum value
    max_row = symbol_data.loc[symbol_data['Volume_Millions'] == max_volstat_daily]
    print("Month: {} , Year : {}  , Max Volume in Millions: {} ".format(max_row.iloc[0,2] ,max_row.iloc[0,3] , max_row.iloc[0,1] ))
    print("\n")

Symbol:  D
14.5874
Month: 1 , Year : 2018  , Max Volume in Millions: 14.5874


Symbol:  DUK
15.5662
Month: 9 , Year : 2018  , Max Volume in Millions: 15.5662


Symbol:  EXC
26.4656
Month: 8 , Year : 2015  , Max Volume in Millions: 26.4656


Symbol:  NEE
7.93
Month: 3 , Year : 2018  , Max Volume in Millions: 7.93


Symbol:  SO
23.1701
Month: 5 , Year : 2016  , Max Volume in Millions: 23.1701